<div class="user-profile">

  <div class="profile-row-1 row">
    <div class="username">
        <h2 class="name"><%=current_user.username%></h2>
    </div>
  </div>

  <div class="profile-row-2 row">
    <div class="user-avatar col-sm-4">
      <div class="image-wrapper">
        <img src="/assets/avatar.jpg" width=170px height=170px>
      </div>
    </div>

    <div class="col-sm-8 user-info">
      <div class="user-metrics row">
        <div class="col-xs posts">
          <p class="metric">12</p>
          <p>Posts</p>
        </div>
        <div class="col-xs followers">
          <p class="metric">195</p>
          <p>Followers</p>
        </div>
        <div class="col-xs following">
          <p class="metric">345</p>
          <p>Following</p>
        </div>
      </div>
    </div>
  </div>

  <div class= "profile-row-3 row">
    <div class="user-header">
      <h4 class="username"><%=current_user.name%></h4>
    </div>
  </div>

  <div class= "profile-row-4 row">
    <div class="user-description">
      <p><%=current_user.bio%></p>
    </div>
  </div>

  <div class="profile-row-5 row">
    <a class="edit-profile" href="<%= edit_user_path(current_user)%>">
      <button>Edit Profile</button>
    </a>
  </div>

    <div class="user-tabs">
      <a class="tab" href="<%= new_post_path %>">
        <i class="fa fa-plus-square"></i>
        NEW POST
      </a>
      <a class="tab active" href="">
        <i class="fa fa-th"></i>
        POSTS
      </a>
      <a class="tab" href="">
        <i class="fa fa-tag"></i>
        TAGGED
      </a>
    </div>

</div>