<div class="user-profile">

  <div class="profile-row-1 row">
    <div class="username">
        <h2 class="name"><%=@user.username%></h2>
    </div>
  </div>

  <div class="profile-row-2 row">
    <div class="user-avatar col-md-4">
      <div class="image-wrapper">
        <% if @user.avatar.attached? %>
          <%= image_tag @user.avatar %>
        <% end %>
      </div>
    </div>

    <div class="col-md-8 user-info">
      <div class="user-metrics row">
        <div class="col-xs post-count">
          <p class="metric"><%= @user.posts.length %></p>
          <p>Posts</p>
        </div>
        <div class="col-xs followers">
          <p class="metric"><%= @user.followers.length %></p>
          <p>Followers</p>
        </div>
        <div class="col-xs following">
          <p class="metric"><%= @user.followed_users.length %></p>
          <p>Following</p>
        </div>
      </div>
    </div>
  </div>

  <div class= "profile-row-3 row">
    <div class="user-header">
      <h4 class="username"><%=@user.name%></h4>
    </div>
  </div>

  <div class= "profile-row-4 row">
    <div class="user-description">
      <p><%=@user.bio%></p>
    </div>
  </div>

  <div class="profile-row-5 row">
    <% if current_user.id == @user.id %>
      <a class="edit-profile" href="<%= edit_user_path(current_user)%>">
        <button>Edit Profile</button>
      </a>
    <% else %>
        <button id="follow_button">Follow User</button>
    <% end %>
  </div>

  <div class="user-tabs">
      <a class="tab" href="<%= new_post_path %>">
        <i class="fa fa-plus-square"></i>
        NEW POST
      </a>
      <a class="tab active" href="">
        <i class="fa fa-th"></i>
        POSTS
      </a>
      <a class="tab" href="">
        <i class="fa fa-tag"></i>
        TAGGED
      </a>
  </div>

  <div class="users-posts">
    <% @user.posts.each do |post| %>
      <div class="user-post">
        <%= image_tag post.image, class: 'main-image' %>
      </div>
    <% end %>
  </div>
  
  <div>
    <% if user_signed_in? %>
      <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
    <% else %>
      <li><%= link_to('Login', new_user_session_path) %></li>
    <% end %>
  </div>

</div>