<div class="posts">
<% @posts.each do |post| %>
  <div class="post">

    <div class="post-banner">
      <a href="<%= user_path(current_user) %>">
        <div class="user-avatar">
          <% if current_user.avatar.attached? %>
            <%= image_tag current_user.avatar %>
          <% end %>
        </div>
      </a>
      <a href="<%= user_path(current_user) %>">
        <div class="post-username">
          <p><%= post.user.username %></p>
        </div>
      </a>
    </div>

    <div class="post-image">
      <%= image_tag post.image, class: 'main-image' %>
    </div>

    <div class="post-glyphs">
      <div class=glyph-container>
        <i class="fa fa-heart"></i>
        <i class="fa fa-comment"></i>
      </div>
    </div>

    <div class="post-description">
      <p><strong><%= post.user.username%></strong> <%= post.description %></p>
    </div>

  </div>
<% end %>
</div>