<!DOCTYPE html>
<html>
  <head>
    <title>Instagram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <!--Navbar-->
  
    <nav class="navbar d-flex">
      <div class="container-fluid nav-items">

        <div class="icon">
          <a class="navbar-brand">
            <%= fa_stacked_icon "instagram", base: "", class: "fa-2x"%>
              Instagram
          </a>
        </div>

        <div class="m-auto">
          <form class="form-inline search-form">
            <input class="form-control m-auto" type="text" placeholder="ðŸ” search " aria-label="Search">
          </form>
        </div>

        <div class="user-section"> 
          <a href="<%= posts_path %>">
            <i class="fa fa-compass"></i>
          </a>
          <a><i class="fa fa-heart"></i></a>
          <% if user_signed_in? %>
            <a href="<%= user_path(current_user) %>">
              <i class="fa fa-user"></i>
            </a>
          <% else %>
            <a href="<%= new_user_session_path %>">
              <i class="fa fa-sign-in"></i>
            </a>
          <% end %>
        </div>
        
      </div>
    </nav>

  <!--Main-content-->

  <main class="container">
    <%= yield %>
  </main>

  <!--Footer-->

  <footer class="container footer">
    <div class="container d-flex">
      <ul style="list-style-type: none;">
      <!--Get rid of bullet points-->
        <li>ABOUT US</li>
        <li>SUPPORT</li>
        <li>PRESS</li>
        <li>API</li>
        <li>JOBS</li>
        <li>PRIVACY</li>
        <li>TERMS</li>
        <li>DIRECTORY</li>
        <li>TERMS</li>
        <li>DIRECTORY</li>
        <li>PROFILES</li>
        <li>HASHTAGS</li>
        <li>LANGUAGE</li>
      </ul>
      <p> Â© 2019 INSTAGRAM FROM FACEBOOK</p>

    </div>
  </footer>

  </body>

</html>